.app-header__logo .logo-src {
    height: 43px;
    width: 167px;
    background: url(../asset/img/logo/lbrdc-banner-nobg.webp);
    background-size: 100%;
    background-repeat: no-repeat;
}

.card-bg {
    background-image: url('../asset/img/landbank.webp');
    background-size: cover;
    min-height: 200px;
    background-position-y: center;
}


/* Using css var aka custom properies, don't use them if you don't use tools such as postCss */
:root {
    --color-blue: #5897fc;
    --color-blue-grayed: #e0ecff;
  }
  /* First hide radios */
  .questions input[type="radio"] {
    display: none;
  }
  
  /* Generate new radio buttons, which we can style via css */
  .questions label:before {
    content: attr(data-question-number);
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid;
    text-align: center;
    line-height: 30px;
    margin-right: 20px;
  }
  
  /* Applying styles when checking the buttons */
  .questions input[type="radio"]:checked ~ label {
    background-color: var(--color-blue-grayed);
    border-color: var(--color-blue);
  }
  
  .questions input[type="radio"]:checked ~ label:before {
    background-color: var(--color-blue);
    border-color: var(--color-blue);
    color: white;
  }
  
  .questions label {
    display: block;
    cursor: pointer;
    
    padding: 5px;
    margin-bottom: 0px;
    background-color: white;
    border: 2px solid white;
    border-radius: 15px;
  }
  
  /*.questions {
    background-color: gray;
    padding: 20px;
  }*/